.container-wallet {
    display: flex;
    width: 100%;
    min-height: 100dvh;
}

.content-wallet {
    width: calc(100% - 219px);
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.section1-wallet {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 254px;
    border-radius: 8px;
    background: #1D2328;
    box-shadow: 0px 0px 3px 2px #272B33 inset;

}

.section1-wallet>div {
    display: flex;
    justify-content: space-between;
    padding: 21px 30px;
}

.section1-wallet hr {
    background: #15191C;
    border: none;
    height: 1px;
    width: 100%;
}

.amountSection-wallet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amountSection-wallet>h1 {
    display: flex;
    align-items: center;
    color: #D2D3E0;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.amountSection-wallet>div {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.amountSection-wallet p {
    color: #D2D3E0;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.amountSection-wallet span {
    color: #6E6E6E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.amountCtas-wallet {
    margin-top: 40px;
    gap: 12px !important;
}

.transactionsContainer-wallet {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    border-radius: 8px;
    background: #1D2328;
    box-shadow: 0px 0px 3px 2px #272B33 inset;
    margin-top: 15px;
    margin-bottom: 30px;

}

.transactionsContainer-wallet>hr {
    background: #15191C;
    border: none;
    height: 1px;
    width: 100%;
}

.headerTransaction-wallet {
    display: flex;
    padding: 25px 35px 17px 35px;
    justify-content: space-between;
    align-items: center;
}

.transactions-wallet {
    padding: 25px 35px 17px 35px;
    width: 100%;
}

.headerTransaction-wallet>h3 {
    color: #D2D3E0;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.searchTransactions-wallet {
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 1px solid #1D2328;
    background: #15191C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    height: 32px;
    width: calc(100% - 350px);
    min-width: 100px;
}

.searchTransactions-wallet>input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #FFF;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.searchTransactions-wallet>img {
    position: absolute;
    left: 5px;
    top: 8px;
}

.filterTransactions-wallet {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #1D2328;
    background: #15191C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    padding: 6px;
}

.filterTransactions-wallet button {
    color: #858699;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}