.container-MasterPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container-MasterPassword h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.667px;
    /* 119.259% */
}

.container-MasterPassword>p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 800px;
    /* 200% */
}

.cta-MasterPassword {
    display: flex;
    width: 100%;
    padding: 0px 12.105px;
    justify-content: center;
    align-items: center;
    gap: 4.035px;
    border-radius: 4.035px;
    background: var(--Ocean, linear-gradient(91deg, #0FEF9E -0.23%, #064560 105.78%));
    box-shadow: 0px 0.303px 0.908px 0px rgba(0, 0, 0, 0.32), 0px 1.614px 3.631px 0px rgba(0, 0, 0, 0.28);
    color: var(--Primitive-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.166px;
    padding: 5px 0;

    /* 136.899% */
}

.cta-MasterPassword:disabled {
    opacity: 0.5;
}

.input-MasterPassword {
    position: relative;
    width: 643px;
    margin-bottom: 20px;
}

.input-MasterPassword input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #1D2328;

    outline: none;
    padding: 20px 44px 20px 15px;
    color: #E1E1E1;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.input-MasterPassword button {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 20px;
}

.gradient-MasterPassword {
    background: linear-gradient(86deg, #0FEF9E 50.51%, #064560 105.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.terms-MasterPassword {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 5px;
    margin-top: 26px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 250% */
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}