.container-activity {
    display: flex;
    width: 100%;
    min-height: 100dvh;
}

.content-activity {
    width: calc(100% - 219px);
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.transactionsContainer-activity {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    min-height: 87dvh;
    border-radius: 8px;
    background: #1D2328;
    box-shadow: 0px 0px 3px 2px #272B33 inset;
    margin-top: 15px;
    margin-bottom: 30px;

}

.transactionsContainer-activity>hr {
    background: #15191C;
    border: none;
    height: 1px;
    width: 100%;
}

.headerTransaction-activity {
    display: flex;
    padding: 25px 35px 17px 35px;
    justify-content: space-between;
    align-items: center;
}

.transactions-activity {
    padding: 25px 35px 17px 35px;
    width: 100%;
    height: 100%;
}

.headerTransaction-activity>h3 {
    color: #D2D3E0;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.searchTransactions-activity {
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 1px solid #1D2328;
    background: #15191C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    height: 32px;
    width: calc(100% - 100px);
    min-width: 100px;
}

.searchTransactions-activity>input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #FFF;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.searchTransactions-activity>img {
    position: absolute;
    left: 5px;
    top: 8px;
}

.filterTransactions-activity {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #1D2328;
    background: #15191C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    padding: 6px;
}

.filterTransactions-activity button {
    color: #858699;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}