.container-RecoveryPhrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hint-RecoveryPhrase {
    width: 100%;
    max-width: 967px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.hint-RecoveryPhrase h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.667px;
    /* 119.259% */
}

.hint-RecoveryPhrase p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 800px;
    /* 200% */
}

.cta-RecoveryPhrase {
    display: flex;
    width: 100%;
    padding: 0px 12.105px;
    justify-content: center;
    align-items: center;
    gap: 4.035px;
    border-radius: 4.035px;
    background: var(--Ocean, linear-gradient(91deg, #0FEF9E -0.23%, #064560 105.78%));
    box-shadow: 0px 0.303px 0.908px 0px rgba(0, 0, 0, 0.32), 0px 1.614px 3.631px 0px rgba(0, 0, 0, 0.28);
    color: var(--Primitive-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.166px;
    padding: 5px 0;
    /* 136.899% */
}

.hint-RecoveryPhrase>select {
    border-radius: 8px;
    border: 1px solid #3E3E3E;
    background: #101010;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
    margin-right: auto;
    outline: none;
    margin-top: 43px;
}

.ceeds-RecoveryPhrase {
    display: flex;
    width: 967px;
    min-height: 235px;
    padding: 10px 12px;
    align-items: center;
    gap: 24px;
    box-shadow: -20px -26px 95px -48px rgba(39, 202, 63, 0.452);
    flex-wrap: wrap;
    border-radius: 24px;
    background: #101010;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 33px 38px;
}

.ceeds-RecoveryPhrase span {
    display: inline-flex;
    padding: 2px 16px 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #242424;
    color: var(--Colors-Neutral-Grey-White, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.copyCeeds-RecoveryPhrase {
    margin-left: auto;
    margin-bottom: 44px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}
.copyCeeds-RecoveryPhrase img{
    margin-right: 5px;
}