.container-wallet {
    display: flex;
    width: 100%;
    min-height: 100dvh;
}

.content-wallet {
    width: calc(100% - 219px);
    display: flex;
    flex-direction: column;
    margin-left: auto;
}