.titer-GetStarted {
    width: 100%;
    max-width: 1000px;
}

.container-GetStarted h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.667px;
    /* 119.259% */
}

.container-GetStarted h1 span {
    font-weight: 500;
    font-size: 30px;
}

.gradient-GetStarted {
    background: linear-gradient(86deg, #0FEF9E 50.51%, #064560 105.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1-GetStarted {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogans-GetStarted {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 15px;
}

.slogans-GetStarted>div {
    display: flex;
    gap: 8px;
}

.slogans-GetStarted>div h3 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.slogans-GetStarted>div p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



.letsCta-GetStarted {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 15px;
}

.letsCta-GetStarted>button {
    display: flex;
    width: 682px;
    padding: 0px 12.105px;
    justify-content: center;
    align-items: center;
    gap: 4.035px;
    border-radius: 4.035px;
    background: var(--Ocean, linear-gradient(91deg, #0FEF9E -0.23%, #064560 105.78%));
    box-shadow: 0px 0.303px 0.908px 0px rgba(0, 0, 0, 0.32), 0px 1.614px 3.631px 0px rgba(0, 0, 0, 0.28);
    color: var(--Primitive-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.166px;
    padding: 5px 0;
    /* 136.899% */
}

.letsCta-GetStarted>button:disabled {
    opacity: 0.5;
}

.letsCta-GetStarted>div {
    display: flex;
    gap: 5px;
}

.letsCta-GetStarted p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 250% */
}