.cta-sendPac {
    display: flex;
    width: 127px;
    height: 38px;
    padding: 13px 7px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    background: var(--Ocean, linear-gradient(91deg, #0FEF9E -0.23%, #064560 105.78%));
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}